{% extends 'myapi/base.html' %}
{% load static %}
{% block title %}Member Registration{% endblock title %}

<div class="container">
   <div class="row my-3">
      {% block msg %}
      <p>{{id}}</p>
      <hr>
      {% if messages %}
      {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endblock msg %}
      {% block main-content %}
      <div class="col-sm-6 offset-sm-3">
         <center>
            <h3>Member Registration</h3>
         </center>
         <hr>

         <form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
            {% csrf_token %}

            {% for fm in form %}
            <div class="form-group mb-3">
               {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit">
            <br>
            <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
                     class="text-danger">Login Now</a> </small></div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
         </form>
      </div>
   </div>
</div>
{% endblock main-content %}