<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Namesis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav justify-content-end ">

      {% if user.is_authenticated %}
      

      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{request.user.firstName|capfirst}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>


          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </li>

      {% else %}
      
      <li class="nav-item mx-2 ">
        <a href="{% url 'login' %}" class="nav-link text-white ">Login</a>
      </li>
      <li class="nav-item mx-2">
        <a href="{% url 'memberregistration' %}" class="nav-link text-white">Sign Up</a>
      </li>


      {% endif %}
    </ul>
  </div>
  </div>
  </div>
</nav>