{% extends 'myapi/base.html' %}
{% load static %}



{% block msg %}
<p>{{id}}</p>
<hr>
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
{% endblock msg %}
{% block main-content %}

<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No</th>
                <th scope="col">Address</th>


                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td>{{request.user.firstName|capfirst}}</td>
                <td>{{request.user.lastName|capfirst}}</td>
                <td>{{request.user.email}}</td>
                <td>{{request.user.phoneNumber}}</td>
                <td>{{request.user.address|capfirst}}</td>


                <td><a class="btn btn-primary " href="{% url 'updateInfo' request.user.id %}">Update</a></td>
            </tr>


        </tbody>
    </table>

</div>



{% endblock main-content %}